<%- include('./partials/header') %>

<h1 class="m-5">Create An Account!</h1>

<div class="container" >
    <!-- <form action='/sign_up' method="POST"> -->
        <div class="mb-3 row">
            <label for="formGroupExampleInput" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Sancho">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="formGroupExampleInput2" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Panza">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password Confirmation</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    <!-- </form> -->
</div>
<%- include('./partials/footer') %>