<%- include('../partials/header') %>

<div class="container">
    <h5 class="m-5 card-title">Drill Group: <%= group.name %></h5>
    <p class="card-text"><%= group.description %> </p>

    <!-- List current drills -->
    <div class="card">
        <div class="card-body">
            list drills here
        </div>
    </div>

    <!-- Add new drills -->
    <div class="card-body mt-3">
        <form action="">create new drill form</form>
    </div>
</div>

<%- include('../partials/footer') %>