<%- include('../partials/header') %>

<h1 class="m-5">Create An Account!</h1>

<div class="container" >
    <form action='/users' method="POST">

        <div class="mb-3 row">
            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input name= "f_name" type="text" class="form-control" id="first_name" placeholder="Sancho">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input name= "l_name" type="text" class="form-control" id="last_name" placeholder="Panza">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name= "email" type="text" class="form-control" id="email" placeholder="email@example.com">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" id="password">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="confirm_password" class="col-sm-2 col-form-label">Password Confirmation</label>
            <div class="col-sm-10">
                <input name= "password_confirmation" type="password" class="form-control" id="confirm_password">
            </div>
        </div>

        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="Create Account!">
        </div>
    </form>
</div>


<%- include('../partials/footer') %>